body{background:#e0e0e0;}



.bg-nav{background:#6666ff;} /*цвет навигационной панели*/
.bg-header{background:#66A1D2;}
.bg-firstrow{background:#8fb7d9;}
.bg-header_gradient{background: linear-gradient(to top left, #6666ff 50%, #fff);}

@media (max-width:991px){
    .padding_0_md{
        padding-left: 0;
        padding-right: 0;
    }
}


.clearfix:after {
  content: '.';
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}

a{
	text-decoration:none !important;
	outline:none !important;
}

/*стили для панели навигации*/
                                 /*цвета ссылок в навигационной панели для больших экранов*/
nav a{
	color:#000099;
	display: inline-block;
    padding: 14px 16px;
}
nav a:hover{
	color:#6666ff;
	background:#000099;
}
                                  /*цвета ссылок в навигационной панели для малых экранов*/
@media (min-width:200px) and (max-width:991px){
    nav .active{
        color:#6666ff;
    	background:#000099;
    }
}

ul.main_nav{
    list-style: none;
	margin: 0;
    padding: 0;
}

.main_nav li{float:left;}
@media (max-width: 991px) {
	.main_nav li, a {
		clear: : both !important;
		width: 100%;
	}
}
@media (min-width:992px){
	ul.main_nav{border-top: 2px solid #e0e0e0;}
}
@media (min-width:200px) and (max-width:991px){
	.hide_forSmScreen{display:none;}
    .show_forSmScreen{display: block !important;}
}
/*КОНЕЦ стили для панели навигации*/

/*стили для маленьких экранов панели навигации*/
.button_open_menu {
	display:block;
	width: 100%;
	border:none;
	margin: 0 auto;
	padding: 14px 10px;
	color: #2e0571;                /*цвет бургера навигационной панели на малых экранах*/
	font-size: 20px;
	box-sizing: border-box;
	border-top: 2px solid #e0e0e0;
}
.button_open_menu:before {
	content:"☰ ";
	margin-right: 10px;
}
@media (max-width:1500px){
	.button_open_menu{display:none !important;}
}
@media (max-width: 991px) {
    .button_open_menu{display:block !important;}
}
/*КОНЕЦ стили для маленьких экранов панели навигации*/

/*стили выпадающего меню панели навигации*/
@media (min-width:992px){
    .dropdown:hover .dropdown_content {
        display:block;
    }
}

.dropdown_content{
	display:none;
	position: absolute;
	min-width: 250px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	margin-top:0px;
	padding: 0px;
    z-index: 1;
	background-color: rgba(200, 200, 200, 0.9);
    box-sizing: border-box;
}
@media (max-width:991px){
    .dropdown_content{
        position: static;
        width:100%;
    }
}
.dropdown_content a{
	display: block;
}

/*КОНЕЦ стили выпадающего меню панели навигации*/
