/*цвета
первый ряд #8fb7d9
  основной ряд #e0e0e0	
*/
.bg-firstrow{background:#8fb7d9;}
.bg-header{background:#66A1D2;}
.bg-mainrow{background:#e0e0e0;}
.bg-nav{background:#946BD6;}

.box{border:1px solid black;}

body{background:#e0e0e0;}

a{text-decoration:none !important;}



.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 300px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	margin-top:0px;
	padding: 0px;
    z-index: 1;
	background-color: rgba(200, 200, 200, 0.6);
}
.dropdown-content li{
	display: inline;
	width:100%
}

.dropdown:hover .dropdown-content {
    display:block;
}

.dropdown-content a {
	padding:10px;
	margin-top:;
	display:block;
	text-align:left;
}
.dropdown-content li{clear: both; }}
.dropdown-content ul{padding:0px;}
.navigation{
	margin-top:4px;
	text-align:center;
	background:#946BD6;
}

ul  {
    list-style-type: none;
	margin: 0;
    padding: 0;
	/*overflow: hidden;
   /* padding:10px;*/
}
nav li {
	float: left;
	/*display: inline;*/
}

nav li a  {
	
	display: block;
    color:#2e0571;
    text-align: center;
    padding: 16px 16px;
    text-decoration: none;
	
	/*text-align: center;
	padding-top:12px;
	padding-bottom:11px;
	padding-right: 20px;
	padding-left:20px;
	color:#2e0571;*/
}

nav li a:hover{
	color:#946bd6;
	background:#2e0571;
}

/*ДЛЯ ФУТЕРА*/
footer ul{list-style-type: none;
	padding:0px 0px;
	margin:0;

}
footer a{
	color:#2e0571 !important;
	margin:10px;
}
footer a:hover{
	color:#48DD00 !important;
}
