body{background:#e0e0e0;}



.bg-nav{background:#66A1D2;} /*цвет навигационной панели*/ /*6666ff*/
.bg-header{background:#66A1D2;}
.bg-firstrow{background:#8fb7d9;}
.bg-header_gradient{background: linear-gradient(to top left, #6666ff 50%, #fff);}

@media (max-width:991px){
    .padding_0_md{
        padding-left: 0;
        padding-right: 0;
    }
}

.box{border:1px solid #000;}

.clearfix:after {
  content: '.';
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}


a{
	text-decoration:none !important;
	outline:none !important;
}

/*---------------------------СТИЛИ ПАНЕЛИ НАВИГАЦИИ-----------------------------------------*/
/*стили для панели навигации*/
                                 /*цвета ссылок в навигационной панели для больших экранов*/
nav a{
	color:#000099;
	display: block;
    padding: 14px 16px;
}
nav a:hover{
	color:#6666ff;
	background:#000099;
}
                                  /*цвета ссылок в навигационной панели для малых экранов*/
@media (min-width:200px) and (max-width:991px){
    nav .active{
        color:#6666ff;
    	background:#000099;
    }
}

div.main_nav{padding: 0; margin: 0;}


@media(min-width:992px){
    .main_nav{border-top: 2px solid #e0e0e0;}
    .main_nav>div{display: inline-block;}
}
@media(max-width:991px){
    .main_nav>div{border-top: 1px solid #e0e0e0;}
}

@media (min-width:200px) and (max-width:991px){
	.hide_forSmScreen{display:none;}
    .show_forSmScreen{display: block !important;}
}

/*стили для маленьких экранов панели навигации*/
.button_open_menu {
	display:block;
	width: 100%;
	border:none;
    border-top: 2px solid #e0e0e0;
	margin: 0 auto;
	padding: 14px 10px;
	color: #2e0571;                /*цвет бургера навигационной панели на малых экранах*/
	font-size: 20px;
	box-sizing: border-box;
}
.button_open_menu:before {
	content:"☰ ";
	margin-right: 10px;
}
@media (max-width:1500px){
	.button_open_menu{display:none !important;}
}
@media (max-width: 991px) {
    .button_open_menu{display:block !important;}
}
/*КОНЕЦ стили для маленьких экранов панели навигации*/

/*стили выпадающего меню панели навигации*/
@media (min-width:992px){
    .dropdown:hover .dropdown_content {
        display:block;
    }
}

.dropdown_content{
	display:none;
	position: absolute;
	min-width: 250px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	margin-top:0px;
	padding: 0px;
    z-index: 1;
	background-color: rgba(200, 200, 200, 0.9);
    box-sizing: border-box;
}
@media (max-width:991px){
    .dropdown_content{
        position: static;
        width:100%;
    }
}
.dropdown_content a{
	display: block;
    width:100%;
    box-sizing: border-box;
}
@media (max-width:1500px){
    .dropdown_content {position: absolute;}
}
@media (min-width:200px) and (max-width:991px){
    .dropdown_content{
        position:static;

     }

}
/*КОНЕЦ стили выпадающего списка навигационной панели*/

/*стили для работы выпадающего меню на малых экранах*/

.dropdown_arrow {display:none !important;}
@media (max-width:991px) {
    .dropdown{
        display: inline-flex;
        width: 100%;
        flex-wrap: wrap;
        justify-content: space-between;
     }
    .dropdown_category{flex-grow: 100;}
    .dropdown_arrow{
        display:inline-block !important;
        height: 52px !important;
        margin-right: 1px;
        border-left: 1px solid #e0e0e0; /* e0e0e0 000099;*/
        border-right: 1px solid #e0e0e0;
        border-radius: 5px;
    }
    .dropdown_content{flex-grow: 100;}
}

/*КОНЕЦ стили для работы выпадающего меню на малых экранах*/
/*---------------------------КОНЕЦ СТИЛИ ПАНЕЛИ НАВИГАЦИИ-----------------------------------------*/

/*------------------------------------------СТИЛИ ПОДВАЛА-----------------------------------------*/
footer ul{
    padding: 0;
    margin: 0;
}
footer li{list-style-type: none;}
footer a{color:#ccc;}/*333366*/
footer>div:last-child{border-top:2px solid  #e0e0e0;}
.text_blue{color:#333399;}
.text_green{color: #339900;}
.bg-green{background-color: #66FF00;}
.bg-blue{background-color: #66A1D2;}
/*------------------------------------------КОНЕЦ СТИЛИ ПОДВАЛА-----------------------------------------*/
